In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/tez/spark/spark-3.1.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/10/11 00:35:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [8]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [9]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [10]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [11]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [13]:
df_join = spark.read.parquet('data/report/revenue/total')

In [14]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 05:00:00| 143|              null|                null|            275.12|                    9|
|2020-01-01 05:00:00| 161|              null|                null| 979.1199999999997|                   39|
|2020-01-01 06:00:00|  92|             28.66|                   2|             71.16|                    1|
|2020-01-01 06:00:00|  93|              null|                null|            330.47|                    5|
|2020-01-01 07:00:00|  47|              2.75|                   1|              19.3|                    1|
|2020-01-01 08:00:00| 142|              null|                null|1331.8899999999992|                   54|
|2020-01-01 09:00:00| 138|              null|                null|4042.9600000000037|                  107|
|2020-01-01 09:00:00| 232|              null|                null|             69.18|                    4|
|2020-01-01 12:00:00|  49|34.900000000000006|                   3|             24.83|                    1|
|2020-01-01 13:00:00|  40|            131.55|                   2|              null|                 null|
|2020-01-01 13:00:00| 157|              null|                null|              55.3|                    1|
|2020-01-01 14:00:00|  83|              72.7|                   4|               9.3|                    1|
|2020-01-01 15:00:00| 136|103.75000000000001|                   3|              38.1|                    2|
|2020-01-01 15:00:00| 259|             52.19|                   2|              null|                 null|
|2020-01-01 16:00:00|  41| 723.0800000000002|                  31|            594.29|                   43|
|2020-01-01 18:00:00|  75|276.58000000000004|                  20| 808.0299999999997|                   59|
|2020-01-01 18:00:00| 191|              null|                null|            118.87|                    2|
|2020-01-01 21:00:00|  16|              null|                null|               7.3|                    1|
|2020-01-01 22:00:00| 145|              null|                null|            133.06|                    5|
|2020-01-02 04:00:00| 130|             51.24|                   3|              null|                 null|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [15]:
df_zones = spark.read.parquet('zones/')

In [17]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [16]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [18]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 05:00:00| 143|              null|                null|            275.12|                    9|       143|Manhattan| Lincoln Square West| Yellow Zone|
|2020-01-01 05:00:00| 161|              null|                null| 979.1199999999997|                   39|       161|Manhattan|      Midtown Center| Yellow Zone|
|2020-01-01 06:00:00|  92|             28.66|                   2|             71.16|                    1|        92|   Queens|            Flushing|   Boro Zone|
|2020-01-01 06:00:00|  93|              null|                null|            330.47|                    5|        93|   Queens|Flushing Meadows-...|   Boro Zone|
|2020-01-01 07:00:00|  47|              2.75|                   1|              19.3|                    1|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|2020-01-01 08:00:00| 142|              null|                null|1331.8899999999992|                   54|       142|Manhattan| Lincoln Square East| Yellow Zone|
|2020-01-01 09:00:00| 138|              null|                null|4042.9600000000037|                  107|       138|   Queens|   LaGuardia Airport|    Airports|
|2020-01-01 09:00:00| 232|              null|                null|             69.18|                    4|       232|Manhattan|Two Bridges/Sewar...| Yellow Zone|
|2020-01-01 12:00:00|  49|34.900000000000006|                   3|             24.83|                    1|        49| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 13:00:00|  40|            131.55|                   2|              null|                 null|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 13:00:00| 157|              null|                null|              55.3|                    1|       157|   Queens|             Maspeth|   Boro Zone|
|2020-01-01 14:00:00|  83|              72.7|                   4|               9.3|                    1|        83|   Queens|    Elmhurst/Maspeth|   Boro Zone|
|2020-01-01 15:00:00| 136|103.75000000000001|                   3|              38.1|                    2|       136|    Bronx| Kingsbridge Heights|   Boro Zone|
|2020-01-01 15:00:00| 259|             52.19|                   2|              null|                 null|       259|    Bronx|  Woodlawn/Wakefield|   Boro Zone|
|2020-01-01 16:00:00|  41| 723.0800000000002|                  31|            594.29|                   43|        41|Manhattan|      Central Harlem|   Boro Zone|
|2020-01-01 18:00:00|  75|276.58000000000004|                  20| 808.0299999999997|                   59|        75|Manhattan|   East Harlem South|   Boro Zone|
|2020-01-01 18:00:00| 191|              null|                null|            118.87|                    2|       191|   Queens|      Queens Village|   Boro Zone|
|2020-01-01 21:00:00|  16|              null|                null|               7.3|                    1|        16|   Queens|             Bayside|   Boro Zone|
|2020-01-01 22:00:00| 145|              null|                null|            133.06|                    5|       145|   Queens|Long Island City/...|   Boro Zone|
|2020-01-02 04:00:00| 130|             51.24|                   3|              null|                 null|       130|   Queens|             Jamaica|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [22]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones', mode = 'overwrite')

In [23]:
df_result.drop('LocationID', 'zone').show()

+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|2020-01-01 05:00:00|              null|                null|            275.12|                    9|Manhattan| Yellow Zone|
|2020-01-01 05:00:00|              null|                null| 979.1199999999997|                   39|Manhattan| Yellow Zone|
|2020-01-01 06:00:00|             28.66|                   2|             71.16|                    1|   Queens|   Boro Zone|
|2020-01-01 06:00:00|              null|                null|            330.47|                    5|   Queens|   Boro Zone|
|2020-01-01 07:00:00|              2.75|                   1|              19.3|                    1|    Bronx|   Boro Zone|
|2020-01-01 08:00:00|              null|                null|1331.8899999999992|                   54|Manhattan| Yellow Zone|
|2020-01-01 09:00:00|              null|                null|4042.9600000000037|                  107|   Queens|    Airports|
|2020-01-01 09:00:00|              null|                null|             69.18|                    4|Manhattan| Yellow Zone|
|2020-01-01 12:00:00|34.900000000000006|                   3|             24.83|                    1| Brooklyn|   Boro Zone|
|2020-01-01 13:00:00|            131.55|                   2|              null|                 null| Brooklyn|   Boro Zone|
|2020-01-01 13:00:00|              null|                null|              55.3|                    1|   Queens|   Boro Zone|
|2020-01-01 14:00:00|              72.7|                   4|               9.3|                    1|   Queens|   Boro Zone|
|2020-01-01 15:00:00|103.75000000000001|                   3|              38.1|                    2|    Bronx|   Boro Zone|
|2020-01-01 15:00:00|             52.19|                   2|              null|                 null|    Bronx|   Boro Zone|
|2020-01-01 16:00:00| 723.0800000000002|                  31|            594.29|                   43|Manhattan|   Boro Zone|
|2020-01-01 18:00:00|276.58000000000004|                  20| 808.0299999999997|                   59|Manhattan|   Boro Zone|
|2020-01-01 18:00:00|              null|                null|            118.87|                    2|   Queens|   Boro Zone|
|2020-01-01 21:00:00|              null|                null|               7.3|                    1|   Queens|   Boro Zone|
|2020-01-01 22:00:00|              null|                null|            133.06|                    5|   Queens|   Boro Zone|
|2020-01-02 04:00:00|             51.24|                   3|              null|                 null|   Queens|   Boro Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
only showing top 20 rows